// @import "@styles/theme.scss";
@import '../../styles/theme.scss';

.home {
  position: relative;
}

.home__search {
  position  : absolute;
  top       : 0;
  left      : 0;
  padding   : 0 30px 20px;
  width     : 100%;
  background: #ffffff;
  z-index   : 9;

  &-wrap {
    height         : 56px;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    border         : 1px solid #333333;
    @include hairline(border-width);
    border-radius: 28px;
  }

  &-img {
    margin-right: 10px;
    width       : 30px;
    height      : 30px;
  }

  &-txt {
    color    : $text-color-light;
    font-size: 28px;
  }
}

.home__wrap {
  padding   : 76px 0 0;
  background: #fafafa;
}

// style={{ display: 'flex', flexWrap: 'wrap', flexDirection: 'row', padding: '0 20px 0', marginTop: '20px' }}

.home_iconArr {
  display       : flex;
  flex-wrap     : wrap;
  flex-direction: row;
  margin-left   : 40px;
  margin-right  : 40px;
  margin-top    : 20px;
  width         : 100%;

  &-img {
    margin-left: 20px;
    height: 80px;
    width : 80px;
  }

}

.home_first {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  margin-right  : 34px;

}

.home_text {
  font-size: 24px;
}


.home__title {
  padding   : 0 10px;
  background: #ffffff;
}

.home__loading {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
  height         : 80px;

  &-txt {
    color    : $text-color-light;
    font-size: 24px;
  }
}